# Python cache
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual Environment
venv/
env/

# VS Code
.vscode/

# PyCharm
.idea/

# Dataset
dataset/*.csv

# macOS
.DS_Store
